*,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo .primeiro-titulo {
    font-size: 80px;
    font-weight: bold;
}

#input {
    width: 300px;
    margin-top: 10px;
    height: 35px;
    border-radius: 6px;
    background-color: yellow;
    color: black;
    font-weight: bold;
}

input:focus{
    outline: none;
}

::-moz-placeholder{
    font-size: 20px;
    font-weight: 400;
}

.caixa-pokemon {
    border: 5px solid gray;
    margin-top: 50px;
    width: 500px;
    height: 50vh;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}

.caixa-pokemon .nome-pokemon {
    font-size: 35px;
}

.caixa-pokemon .imagem {
    margin-top: 20px;
}

.btn {
    margin-top: 15px;
    width: 150px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid black;
    height: 25px;
    background-color: yellow;
    color: black;
    cursor: pointer;

}

.btn:hover {
    background-color: white;
    color: red;
}


.caixa-pokemon .imagem .imagem-pokemon {
    width: 300px; 
}
